{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="loginContainer d-flex direction-column"
         style="margin-bottom: 0; background-color: rgba(0, 0, 0, 0.8)">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
                request a <a href="{{ passwd_reset_url }}" style="color: cornflowerblue;"><u>new password reset</u></a>
                .{% endblocktrans %}</p>
        {% else %}
            <form id="loginForm" class="d-flex direction-column" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <input type="password" name="password1" id="password1" placeholder="{% trans 'New Password' %}">
                <div style="color: #E87C03; font-size: 14px;">
                    <p id="errorPassword">{{ form.password1.errors|escape }}</p>
                </div>

                <input type="password" name="password2" id="password2" placeholder="{% trans 'New Password (again)' %}">
                <div style="color: #E87C03; font-size: 14px;">
                    <p id="errorPassword2">{{ form.password2.errors|escape }}</p>
                </div>
                <button type="submit" name="action" class="button submitButton" id="signInButton">
                    {% trans 'change password' %}
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}
