{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="loginContainer d-flex direction-column"
         style=" text-align: center; margin-bottom: 18%; background-color: rgba(0, 0, 0, 0.8)">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %} <a style="color: royalblue" href={% url 'account_login' %}>{% trans "Log in"%}</a></p>
    </div>
{% endblock %}
