{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="loginContainer d-flex direction-column"
         style="margin-bottom: 0; background-color: rgba(0, 0, 0, 0.8)">
        <h1 style="text-align: center">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p style="margin-bottom: 15px">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form id="loginForm" method="POST" action="{% url 'account_reset_password' %}"
              class="password_reset d-flex direction-column">
            {% csrf_token %}
            <input type="text" name="email" id="email" class="email" placeholder="{% trans 'Email' %}">
            <div style="color: #E87C03; font-size: 14px;">
                <p id="errorEmail">{{ form.email.errors|escape }}</p>
            </div>
            <button type="submit" class="button submitButton" id="signInButton">
                {% trans 'Sign in ' %}
            </button>
        </form>
        <p style="margin-top: 30px">{% trans 'Please contact us if you have any trouble resetting your password.' %}</p>
    </div>
{% endblock %}
