{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {% if messages %}
        <div style='width: 500px'>
            {% for message in messages %}
                <a href="{% url 'movies:browse' %}" style="color: #007bff;">
                    {% trans 'Please click here to go home page' %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <div class="loginContainer d-flex direction-column"
         style="margin-bottom: 0; background-color: rgba(0, 0, 0, 0.8)">
        <h1>{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}"
              class="password_change d-flex direction-column" id="loginForm">
            {% csrf_token %}
            <input type="password" name="oldpassword" id="password1" placeholder="Password">
            <div style="color: #E87C03; font-size: 14px;">
                <p>{{ form.oldpassword.errors|escape }}</p>
                <p>{{ form.oldpassword.non_field_errors|escape }}</p>
                <p>{{ form.non_field_errors|escape }}</p>
            </div>

            <input type="password" name="password1" id="password1" placeholder="Password">
            <div style="color: #E87C03; font-size: 14px;">
                <p>{{ form.password1.errors|escape }}</p>
                <p>{{ form.password1.non_field_errors|escape }}</p>
                <p>{{ form.non_field_errors|escape }}</p>
            </div>

            <input type="password" name="password2" id="password2" placeholder="Password">
            <div style="color: #E87C03; font-size: 14px;">
                <p>{{ form.password2.errors|escape }}</p>
                <p>{{ form.password2.non_field_errors|escape }}</p>
                <p>{{ form.non_field_errors|escape }}</p>
            </div>

            <button style="width: 350px" type="submit" class="button submitButton" id="signInButton"
                    name="action">{% trans "Change Password" %}</button>
            <br>
            <a style="text-align: right; padding-left: 235px; font-size: 13px;
            font-weight: 500; color: #b3b3b3" class="secondaryAction"
               href="{% url 'account_reset_password' %}">
                {% trans "Forgot Password?" %}
            </a>
        </form>
    </div>
{% endblock %}
